dot_config/zellij/plugins/
dot_config/private_fish/private_fish_variables
dot_config/private_fish/fish_variables
dot_config/DankMaterialShell/plugins
node_modules
package.json
package-lock.json
bun.lock
Logs/
logs/
