layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:/home/anir183/.config/zellij/plugins/zjstatus.wasm" {
                color_fg "#949CBB"
                color_bg "transparent"
                color_black "#303446"
                color_red "#E78284"
                color_green "#81C8BE"
                color_yellow "#E5C890"
                color_blue "#8CAAAE"
                color_magenta "#CA9EE6"
                color_cyan "#99D1DB"
                color_white "#C6D0f5"
                color_orange "#EA999C"

                format_left   " {mode}#[bg=$bg]#[bg=$bg,fg=$fg]"
                // format_left   " #[bg=$bg,fg=$fg] {mode}#[bg=$bg]#[bg=$bg,fg=$fg]{command_git_branch}"
                format_center "{tabs}"
                format_right  "#[bg=$bg,fg=$fg]{session} "
                format_space  "#[bg=$bg]"
                format_hide_on_overlength "true"
                format_precedence "crl"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal        "#[bg=$bg,fg=$orange,bold]  #[bg=$orange,fg=$black,bold]  normal  "
                mode_locked        "#[bg=$bg,fg=$red,bold]  #[bg=$red,fg=$black,bold]  locked  "
                mode_resize        "#[bg=$bg,fg=$blue,bold]  #[bg=$blue,fg=$black,bold]  resize  "
                mode_pane          "#[bg=$bg,fg=$blue,bold]  #[bg=$blue,fg=$black,bold]  pane  "
                mode_tab           "#[bg=$bg,fg=$yellow,bold]  #[bg=$yellow,fg=$black,bold]  tab  "
                mode_enter_search  "#[bg=$bg,fg=$orange,bold]  #[bg=$orange,fg=$black,bold]  ent-search  "
                mode_search        "#[bg=$bg,fg=$orange,bold]  #[bg=$orange,fg=$black,bold]  search  "
                mode_rename_tab    "#[bg=$bg,fg=$yellow,bold]  #[bg=$yellow,fg=$black,bold] rename- tab  "
                mode_rename_pane   "#[bg=$bg,fg=$blue,bold]  #[bg=$blue,fg=$black,bold]  rename-pane  "
                mode_session       "#[bg=$bg,fg=$blue,bold]  #[bg=$blue,fg=$black,bold]  session  "
                mode_move          "#[bg=$bg,fg=$blue,bold]  #[bg=$blue,fg=$black,bold]  move  "
                mode_prompt        "#[bg=$bg,fg=$blue,bold]  #[bg=$blue,fg=$black,bold]  prompt  "
                mode_tmux          "#[bg=$bg,fg=$magenta,bold]  #[bg=$magenta,fg=$black,bold]  tmux  "

                // formatting for inactive tabs
                tab_normal              "#[bg=$bg,fg=$fg,bold]{index}. {name}{floating_indicator}#[bg=$bg,fg=$bg,bold]"
                tab_normal_fullscreen   "#[bg=$bg,fg=$fg,bold]{index}. {name}{fullscreen_indicator}#[bg=$bg,fg=$bg,bold]"
                tab_normal_sync         "#[bg=$bg,fg=$fg,bold]{index}. {name}{sync_indicator}#[bg=$bg,fg=$bg,bold]"

                // formatting for the current active tab
                tab_active              "#[bg=$bg,fg=$green,bold]{index}. {name}{floating_indicator}#[bg=$bg,fg=$bg,bold]"
                tab_active_fullscreen   "#[bg=$bg,fg=$green,bold]{index}. {name}{fullscreen_indicator}#[bg=$bg,fg=$bg,bold]"
                tab_active_sync         "#[bg=$bg,fg=$green,bold]{index}. {name}{sync_indicator}#[bg=$bg,fg=$bg,bold]"

                // separator between the tabs
                tab_separator           "#[bg=$bg]   "

                // indicators
                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                // git
                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=$blue] {stdout} "
                command_git_branch_interval    "10"

                pipe_zjstatus_hints_format "{output}"
            }
        }
    }

    swap_floating_layout name="staggered" {
        floating_panes
    }

    swap_floating_layout name="enlarged" {
        floating_panes max_panes=10 {
            pane { x "5%"; y 1; width "90%"; height "90%"; }
            pane { x "5%"; y 2; width "90%"; height "90%"; }
            pane { x "5%"; y 3; width "90%"; height "90%"; }
            pane { x "5%"; y 4; width "90%"; height "90%"; }
            pane { x "5%"; y 5; width "90%"; height "90%"; }
            pane { x "5%"; y 6; width "90%"; height "90%"; }
            pane { x "5%"; y 7; width "90%"; height "90%"; }
            pane { x "5%"; y 8; width "90%"; height "90%"; }
            pane { x "5%"; y 9; width "90%"; height "90%"; }
            pane { x 10; y 10; width "90%"; height "90%"; }
        }
    }

    swap_floating_layout name="spread" {
        floating_panes max_panes=1 {
            pane {y "50%"; x "50%"; }
        }
        floating_panes max_panes=2 {
            pane { x "1%"; y "25%"; width "45%"; }
            pane { x "50%"; y "25%"; width "45%"; }
        }
        floating_panes max_panes=3 {
            pane { y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; }
            pane { x "50%"; y "1%"; width "45%"; }
        }
        floating_panes max_panes=4 {
            pane { x "1%"; y "55%"; width "45%"; height "45%"; }
            pane { x "50%"; y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; height "45%"; }
            pane { x "50%"; y "1%"; width "45%"; height "45%"; }
        }
    }
}

