[Desktop Entry]
Name=Obsidian
Exec=/usr/bin/zsh -c /home/anir183/.local/scripts/obsidian
Terminal=false
Type=Application
Icon=md.obsidian.Obsidian
StartupWMClass=obsidian
Comment=Obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
X-Flatpak-Tags=proprietary;
X-Flatpak=md.obsidian.Obsidian
